:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(215, 246, 255);
}

h1 {
  color: rgb(103, 94, 94);
  text-align: center;
  font-size: 40px;
  font-family: 'Hina Mincho', serif;
  padding: -5px 0px -5px 0px;
}

h2 {
  font-size: 15px;
  text-align: center;
  padding: 0px 10px 0px 0px;
  color: rgb(85, 85, 85);
}
h3 {
  color: rgb(85, 85, 85);
  font-size: 20px;
}

nav ul {
  list-style: none;
  background-color: rgb(28, 202, 222);
  text-align: center;
  padding: 5px 10px 5px 10px;
}
nav li {
  display: inline;
  padding: 0px 8px 0px 8px;
  font-size: 14px;
}

/* a:link */
/* a:visited */
/* a:focus */
/* a:hover */
/* a:active */
nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: red;
}

footer ul {
  list-style: none;
  background-color: lightgray;
  text-align: center;
  padding: 13px 10px 13px 10px;
}
footer li {
  display: inline;
  padding: 0px 8px 0px 8px;
  font-size: 13.5px;
}

main {
  display: flex;
}
aside {
  border: 1px solid cadetblue;
  padding: 0px 3px 0px 3px;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
p {
  font-size: 14px;
}
footer a {
  color: black;
  font-size: 13.5px;
}
ul {
  font-size: 13px;
}
